.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*JH*/

.btn {
  background: #EE121E !important;
  border-color: #EE121E !important;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer {
  background: #151515;
  text-align: center;
  color: white;
  padding: 5%;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.homepage-container {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
}

.heroes-column {
  padding-bottom: 2%;
}

.heroes-row {
  padding-top: 5%;
}

.logo-text {
  color: white !important;
}

.navbar {
  background: #202020;
}

.nav-link {
  color: white !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  background: #efefef !important;
}

.search-input {
  margin-right: 10px;
}

/*END*/